body {
 background-color: blue;
}
header {
 text-align: center;
 padding: 0px; /* Asegúrate de que el valor de padding esté en píxeles */
}
a{
 display: inline-block;
 margin: 0 auto;
 width: 20px !important;
 height: 20px !important;
}
.corner {
 position: absolute;
 width: 100px;
 height: 100px;
}
.top-left {
 top: 0;
 left: 0;
}
.top-right {
 top: 0;
 right: 0;
}
h1 {
 font-family: modern;
 text-align: center;
}
h2 {
 text-align: center;
}
.Tabla {
 display: flex;
 flex-direction: column;
 align-items: center;
 background-color: white;
}
section {
 display: block;
 align-items: center;
 text-align: center;
 padding: 100px; /* Asegúrate de que el valor de padding esté en píxeles */
}
